*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carta {
    width: 100%;
    max-width: 350px;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    transition: background-color 1s ease;
    cursor: pointer;
    background-color: rgb(139, 185, 185);
    overflow: hidden; 
    text-align: center;
    border: solid 5px #842222;
}

.carta img {
    width: 100%;
    max-height: 300px; 
    object-fit: contain; 
    display: block;
    margin: 0 auto;
    transition: transform 1s ease;
}

.carta:hover {
    border:  solid 5px #842222;;
    transition: 1s;
}

.carta:hover img {
    transform:  rotate(0.5turn);
    transition: 1s;
} 

body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image: url(imagenes/characters/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    margin:20px 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}